.filter
  width: 200px
  padding-top: 24px
  &_title
    font-size: 18px
    line-height: 28px
    margin-bottom: 24px

.listing
  &_wrapper
    width: calc(100% - 200px)
    padding: 22px 0 22px 48px
  &_title
    text-align: center
    font-weight: 600
    font-size: 24px
    line-height: 120%
    margin-bottom: 20px

.listing_content
  border-top: 1px solid #BCC4C7
  border-left: 1px solid #BCC4C7
  margin-top: 12px
  .card
    border-left: none
    border-top: none
    border-radius: 0
    width: 25%
    img
      +box(150px)
    .btn
      font-size: 10px
      line-height: 36px
  .card_name
    font-size: 12px
    line-height: 140%
  .calc-qty
    +box(32px)
    line-height: 32px
  .btn-calc
    +box(24px)
    margin: 0 12px

.count_brand
  color: $gray
  margin-left: 4px

.select
  &_filter
    margin-bottom: 30px
    &.active
      .select_item img
        transform: scaleY(-1)
      .select_drop
        display: block

  &_item
    padding: 11px 0
    font-size: 20px
    line-height: 20px
    color: #6D7E85
    border-bottom: 1px solid #BCC4C7
    img
      transition: all 0.2s ease
  &_drop
    display: none

.status
  color: $red
  font-weight: 600
  position: absolute
  top: 16px
  right: 16px