@import "utils/libs"
@import "utils/vars"
@import "utils/mixins"
@import "utils/fonts"
@import "utils/sprite"

//with site
*, *::before, *::after
  -webkit-appearance: none
  box-sizing: border-box
  padding: 0
  margin: 0

body
  border-top: 0

button
  border: none
  appearance: none

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number]
  -moz-appearance: textfield

input
  appearance: none
  border: none

.container
  max-width: 1270px
  padding: 0 15px
  width: 100%
  margin: 0 auto

.main
  font-family: "Inter", sans-serif
  font-style: normal
  font-weight: normal
  color: #091114
  text-align: left
  line-height: 16px

.btn
  font-family: "Inter", sans-serif
  background: #1E3944
  border: 2px solid #1E3944
  border-radius: 40px
  font-weight: 700
  text-align: center
  letter-spacing: 0.05em
  text-transform: uppercase
  line-height: 44px
  font-size: 14px
  padding: 0 40px
  cursor: pointer
  transition: all 0.3s ease
  &_white
    background: #FFFFFF
    font-size: 10px
    color: #1E3944
  &_dark
    background: #1E3944
    color: #FFFFFF
    &:hover
      background-color: #96280F
      border-color: #96280F
      
@import "modules/modules"

.d-none
  display: none 

.w-100
  width: 100%

.w-fit-content
  width: fit-content

.relative
  position: relative

@import "utils/media"