<<<<<<< HEAD
//header
=======
>>>>>>> 1fbc9d1ce3e8d8f401d9e2bec867225d255aed3a
.header
  -webkit-box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1)
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1)
  position: sticky
  top: 0
  color: #1E3944
  z-index: 8
  background: #fff

.supbar
  background: #1E3944
  padding: 10px 0 11px

  p, a
    font-size: 12px
    line-height: 1
    color: #E9EBEC

  img
    margin-right: 8px

.midbar
  padding: 20px 0

.midbar_action
  padding: 12px

  span
    font-weight: 600
    font-size: 10px
    text-transform: uppercase
    line-height: 10px
    color: #1E3944

.midbar .btn
  font-size: 12px

.midbar_action span.cart_count
  color: #96280F

.logo
  font-weight: 800
  font-size: 24px
  line-height: 18px
  letter-spacing: 0.01em
  text-transform: uppercase
  color: #1E3944

  span
    color: #96280F

.form-search
  position: relative
  width: 545px

  input
    background: #E9EBEC
    border-radius: 38px
    padding: 11px 50px 11px 20px
    width: 100%

  button
    position: absolute
    top: 50%
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    right: 4px
    width: 40px
    height: 40px
<<<<<<< HEAD
    display: -webkit-inline-box
    display: -ms-inline-flexbox
    display: inline-flex
    border-radius: 50%
    background-color: #1E3944
    -webkit-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease
    cursor: pointer

    svg
      margin: auto

=======
    display: inline-flex
    border-radius: 50%
    background-color: #1E3944
    transition: all 0.3s ease
    cursor: pointer
    svg
      margin: auto
>>>>>>> 1fbc9d1ce3e8d8f401d9e2bec867225d255aed3a
    &:hover
      background-color: #344D57

.subbar
  border-top: 1px solid #BCC4C7
  padding: 9px 0

.nav_category
  a
    padding: 13px 10px 13px 8px

  .p-main
    font-weight: 600
    font-size: 10px
    line-height: 10px
    letter-spacing: 0.05em
    text-transform: uppercase
    color: #1E3944

.burger_category
  width: 18px
  height: 18px
  margin-right: 10px

.category_popular a
  font-weight: 400
  font-size: 14px
  line-height: 21px
  color: #6D7E85
  padding: 12px 6px
  display: block
  margin: 0 8px

  &:hover
    color: #091114

.previous-version
<<<<<<< HEAD
=======
  &:hover
    color: #091114

>>>>>>> 1fbc9d1ce3e8d8f401d9e2bec867225d255aed3a
  font-weight: 600
  font-size: 10px
  line-height: 10px
  letter-spacing: 0.05em
  text-transform: uppercase
  cursor: pointer
  padding: 12px
  color: #1E3944
<<<<<<< HEAD

  &:hover
    color: #091114
=======
>>>>>>> 1fbc9d1ce3e8d8f401d9e2bec867225d255aed3a

.burger
  display: none
  width: 21px
  height: 17px
  position: relative
  z-index: 9
  background-color: transparent
  border: none

.burger-line
  position: absolute
  left: 0
  width: 100%
  height: 2px
  background-color: #fff
  -webkit-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease
  pointer-events: none

.burger-line-top
  top: 0

.burger-line-center
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

.burger-line-bottom
  bottom: 0

.burger.active
  .burger-line
    top: 50%

  .burger-line-top
    -webkit-transform: translateY(-50%) rotate(224deg)
    -ms-transform: translateY(-50%) rotate(224deg)
    transform: translateY(-50%) rotate(224deg)

  .burger-line-center
    opacity: 0

  .burger-line-bottom
    bottom: auto
    -webkit-transform: translateY(-50%) rotate(-224deg)
    -ms-transform: translateY(-50%) rotate(-224deg)
    transform: translateY(-50%) rotate(-224deg)

.btn_reset
  background: transparent url("https://olha1001.github.io/medicalmega/pdp-rediesign/img/common/close.svg") no-repeat right (center / contain)
<<<<<<< HEAD
  width: 130px
=======
  width: 150px
>>>>>>> 1fbc9d1ce3e8d8f401d9e2bec867225d255aed3a
  height: 24px
  cursor: pointer

.advanced-search
  border-top: 1px solid #BCC4C7
  opacity: 0
  padding: 0
  height: 0
  -webkit-transition: all 0.3s ease
  -o-transition: all 0.3s ease
  transition: all 0.3s ease
  pointer-events: none

  &.active
    padding: 16px 0
<<<<<<< HEAD
    height: 64px
=======
    height: 60px
>>>>>>> 1fbc9d1ce3e8d8f401d9e2bec867225d255aed3a
    opacity: 1
    pointer-events: auto

  input
    padding: 2px 14px
    background-color: #F0F1F2
<<<<<<< HEAD
    width: -webkit-fit-content
    width: -moz-fit-content
=======
>>>>>>> 1fbc9d1ce3e8d8f401d9e2bec867225d255aed3a
    width: fit-content
    border: 1px solid #E0E4E5
    max-width: 115px
    font-size: 12px
    line-height: 26px
    text-align: center
    margin-right: 20px

  .btn
<<<<<<< HEAD
=======
    font-weight: 600
>>>>>>> 1fbc9d1ce3e8d8f401d9e2bec867225d255aed3a
    line-height: 28px
    margin-left: 20px
    font-size: 10px

  .select
    margin-right: 20px
<<<<<<< HEAD
//!header
=======
>>>>>>> 1fbc9d1ce3e8d8f401d9e2bec867225d255aed3a
